// .top-container{
//     position: relative;
// 	background-size: 100% 100%;
//     overflow: hidden;
//     background-image: url('../../../images/job-seekers1.svg');
// }

.available-tag{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;

    &-images{
        display: inherit;
        justify-content: space-evenly;
        img{
            width: 30%;
        }
    }
}

.register-tag{
    margin-top: 3rem;
    margin-bottom: 3rem;

    &-button{
        margin-top: -2rem;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        @include media('<tablet'){
            justify-content: center;
            margin-right: 0em;
        }
        button{
            width: 300px;
            height: 50px;
            border-radius: 2rem;
            color:white;
            border: none !important;
            background-color: #26a8ff;
            &:focus{
                outline: none !important;
            }
        }
    }
}
.divider{
    display: block;
    height: .5rem;
    background-color: #d9d9d9;
}



.job-fair-calendar{
    background-color: #f3f3f3;

    &-para{
        display: flex;  
        background-color: #f3f3f3;
        padding: 5rem;
        @include media('<tablet'){
            margin-top: 0rem;
            flex-direction: column-reverse;
            padding: 2rem;
        }
        
        &-text{
            flex: 1;
            @include media('<tablet'){
                flex:2;
                margin-right: 5rem;
            }
            @include media('<phone'){
                margin-right: 2rem;
            }
            &-box{
                display: flex;
                margin-bottom: 1rem;
                @include media('<tablet'){
                    display: block;
                }
                &-1{
                    background-color: white;
                    padding: 1rem;
                    border-radius: 1rem;
                    padding-right: 6rem;
                    &-image{
                        display: flex;
                        justify-content: flex-start;
                        align-items: end;
                        img{
                            margin-right: 1rem;
                        }
                    }
                }
                &-button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    @include media('>tablet'){
                        margin-left: -2rem;
                    }
                    @include media('<tablet'){
                        margin-top: -1rem;
                    }
                    button{
                        padding: .5rem 2rem;
                        font-weight: 700;
                        background-color: #abc720;
                        color: white;
                        border-radius: 1rem;
                        border: none !important;
                        &:focus{
                            outline: none !important;
                        }
                    }
                }
            }
        }
        &-map{
            flex: 1;
            iframe{
                width: 100%;
            }
            @include media('<tablet'){
                // padding-right: 2rem;
                flex:0;
            }
        }
    }
}