.data{
    display: flex;
    flex-direction: row;
    @include media('<tablet'){
        flex-wrap: wrap;
    }
    @include media('<tablet'){
        &-first{
            flex-wrap: wrap-reverse;
        }
    }

    @include media('>tablet'){
        &-first{
            margin-top: -14rem;
        }
    }
    margin-bottom: 2rem;
    &-text{

        h1{
            font-family: 'BwModelica Bold';
            font-size:35px !important;
            margin-bottom: 2rem !important;
        }
        margin-top: 1rem;
        padding-left: 5rem;
        display: flex;
        flex-direction: column;
        @include media('<tablet'){
            align-items: center;
            padding-right: 3rem;
        }
        @include media('<phone'){
            align-items: flex-start;
            padding-right: 1rem;
            padding-left: 2rem;
        }
    }
    &-text1{
        h1{
            font-family: 'BwModelica Bold';
            font-size:35px !important;
            margin-bottom: 1rem !important;
        }
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        
        width: 90%;
        margin-top: 3rem;
        
        @include media('<tablet'){
            align-items: center;
        }
        @include media('<phone'){
            align-items: flex-start;
            padding-left: 2rem;
        }
    }
    &-image-first{
        // display: inherit;
        // justify-content: flex-end;
        img{
            width: 100%;
            background-color: #006fad;
            border-bottom-left-radius: 3rem;
            @include media('>tablet'){
                margin-top: -5rem;
            }
        }
    }

    &-image-second{
        // display: inherit;
        // justify-content: start;
        @include media('>tablet'){
            width: 65%;
        }
        img{
            width: 100%;
            background-color: #abc720;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
            @include media('<tablet'){
                border-radius: 0rem;
                border-top-right-radius: 2rem;
            }
        }
    }

    &-arrow{
        margin-left: auto;
        padding-right: 3rem;
        z-index: 1;
        margin-top: -1rem;
        img{
            width: 70%;
        }
        @include media('<tablet'){
            padding-right: 0rem;
            margin-top: 0rem !important;
        }
    }
    .list-group{
        // margin-top: 1rem;
        display: flex;
        &-item{

            border: none;
            padding: 0 0 1.5rem !important;
            display: inherit;
            @include media('<phone'){
                align-items: flex-start;
            }
            img{
                margin-right: 1rem;
                width: 6%;
                align-self: flex-start;
                @include media('<tablet'){
                    width: 6%;
                }
                @include media('<phone'){
                    width: 12%;
                }
            }
            &-text{
                width: 80%;
                display: inherit;
                align-items: center;
                color: #888888;
                font-size: 1rem;
                line-height: 1.8;
                @include media('<tablet'){
                    width: 100%;
                }
                @include media('<phone'){
                    font-size: 1.2rem !important;
                }
            }
        }
    }
}


// .data1{
//     flex-direction: row-reverse;
// }
