.data{
    display: flex;
    flex-direction: row;
    @include media('<tablet'){
        flex-wrap: wrap;
    }
    @include media('<tablet'){
        &-first{
            flex-wrap: wrap-reverse;
        }
    }

    @include media('>tablet'){
        &-first{
            margin-top: -13rem;
        }
    }
margin-bottom: 2rem;
    &-text{

        h1{
            font-weight: bold;
        }
        margin-top: 1rem;
        padding-left: 5rem;
        display: flex;
        flex-direction: column;
        @include media('<tablet'){
            align-items: center;
            padding-left: 0rem;
        }
    }
    &-text1{
        h1{
            font-weight: bold;
        }
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        
        width: 90%;
        margin-top: 1rem;
        
        @include media('<tablet'){
            align-items: center;
            padding-left: 0rem;
        }
    }
    &-image-first{
        // display: inherit;
        // justify-content: flex-end;
        img{
            width: 100%;
            background-color: #006fad;
            border-bottom-left-radius: 3rem;
            @include media('>tablet'){
                margin-top: -5rem;
            }
        }
    }

    &-image-second{
        // display: inherit;
        // justify-content: start;
        img{
            width: 100%;
            background-color: #abc720;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
        }
    }

    &-arrow{
        margin-left: auto;
        padding-right: 3rem;
        img{
            width: 70%;
        }
    }
    .list-group{
        // margin-top: 1rem;
        display: flex;
        &-item{
            border: none;
            // padding: 0em !important;
            display: inherit;
            // margin-top: 1rem;
    // margin-bottom: 1rem;
            img{
                margin-right: 1rem;
                width: 7%;
                @include media('<tablet'){
                    width: 10%;
                }
            }
            &-text{
                width: 60%;
                display: inherit;
                align-items: center;
                color: #888888;
                font-size: 1rem;
                @include media('<tablet'){
                    width: 100%;
                }
            }
        }
    }
}


// .data1{
//     flex-direction: row-reverse;
// }
