.benefits{
padding-top: 3rem;

&-box{
    h1{
        font-weight: bold;
        margin-bottom: 2rem;
    }
    margin-left: 5rem;  
    &-1{
        display: flex;

        &-image{
            img{
                position: relative;
            }
        }
        &-text{

            &-heading{
                margin-bottom: 20px;
                padding-left: 2rem;
                h3{
                    font-weight: 700;
                }
            }
            &-box{
                padding: .9rem;
                width: 700px;
                
                z-index: -1;
                
                margin-left: -9px;
                background: #f3f3f3;
                border-radius: 1rem;
                display: flex;
                &-img{
                    display: flex;
                    align-items: center;
                    &-image{
                        background-color: white;
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        border-radius: 1rem;
                        align-items: center;
                        img{
                            // width: 150%;
                            height: fit-content;
                        }
                    }
                }
                &-title{
                    padding: 1.5rem;
                }
            }
        }
    }
}



// responsive

    &-res-box{
        h1{
            font-weight: bold;
            padding-left: 5rem;
            @include media('<phone'){
                padding-left: 2rem;
            }
        }

        &-1{
            display: flex;
            flex-direction: column;
            align-items: center;

            &-image{
                z-index: 1;
                // margin-top: -8rem;
                margin-bottom: 2rem;
            }

            &-text{
                &-heading{
                    text-align: center;
                    @include media('<phone'){
                        padding-left: 2rem;
                        text-align: start;
                    }
                    margin-bottom: 2rem;
                }
                margin-bottom: 2rem;
                &-para{
                    background: #f3f3f3;
                    padding: 1rem;
                    border-radius: 1rem;
                    p{
                        color:#888888
                    }
                }
            }
        }

        &-card{
            margin: 1.5rem;
            padding: 1.5rem;
            background-color: #f3f3f3;
            border-radius: 1rem;
            &-para{
                color:#888888
            }
            &-image{
                width: fit-content;
                background-color: white;
                padding: 1rem;
                border-radius: 1rem;
                margin-bottom: 1rem;    
            }
            &-comming{
                display: flex;
                justify-content: flex-end;
                margin-top: -2rem;
            }
        }
    }
&-recruiters{
    margin-top: -250px;
    margin-right: 5rem;
    
        &-1-image{
            display: flex;
            margin-left: auto;
            img{
                position: relative;
            }
            &-text{
                margin-left: auto;
                margin-right: -25px;
                &-heading{
                    margin-bottom: 20px;
                    h3{
                        font-weight: 700;
                    }
                }
                &-box{
                    padding: 1rem;
                    width: 700px;
                    
                    z-index: -1;
                    border-top-left-radius: 1rem;
                    margin-left: -9px;
                    background: #f3f3f3;
                    border-bottom-left-radius: 1rem;
                    display: flex;
                    &-img{
                        display: flex;
                        align-items: center;
                        &-image{
                            background-color: white;
                            padding: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 1rem;
                            img{
                                // width: 150%;
                                height: fit-content;
                            }
                        }
                    }
                    &-title{
                        padding: 1.5rem;
                    }
                }
            }
        }
    
}
    
}

.entry-box{
    width: 200px;
    height: 151px;
    margin-top: -100px;
    border-bottom-right-radius: 4rem;
    margin-right: auto;
    background: #006fad;
}

.entry-box-res{
    margin-top: 4rem;
    width: 20rem;
    height: 12rem;
    border-bottom-right-radius: 4rem;
    margin-right: auto;
    background: #006fad;
    @include media('<phone'){
        width: 13rem;
    }
}


.entry-box1{
    width: 200px;
    height: 151px;
    margin-top: -100px;
    border-bottom-left-radius: 4rem;
    margin-left: auto;
    background: #abc720;
}

.entry-box1-res{
    width: 20rem;
    height: 12rem;
    margin-top: -10rem;
    margin-bottom: 2rem;
    border-bottom-left-radius: 2rem;
    margin-left: auto;
    background: #abc720;
    @include media('<phone'){
        width: 13rem;
    }
}

@include media('<desktop'){
    .benefits-box,.entry-box,.entry-box1,.benefits-recruiters{
        display: none;
    }
}

@include media('>desktop'){
    .benefits-res-box{
        display: none;
    }
}

.benefits-list{
    
        list-style: none;
        li{
            color: #888888;
        }
}
.benefits-list li::before{
    color:#abc720 !important;
    content: "\2022";
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.global-para{
    color:#888888
}