.faq{

    &-h1{
        font-family: 'BwModelica ExtraBold';
        font-size: 35px !important;
        margin:5rem 0rem;
    }
    background-color: #f3f3f3;
    padding:2rem 5rem;
    @include media('<phone'){
        padding: 2rem;
    }

    &-card{
        background-color: white;
        border-radius: 1rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        margin: 2rem 0 2rem;
        @include media('<tablet'){
            display: none;       
        }
        h1{
            font-family: 'BwModelica Bold';
            font-size: 25px !important;
            margin-bottom: 1.3rem !important;
            
        }
        p{
            color: #888888;
            line-height: 1.8;
        }
    }

    
    &-mobile-card{
        background-color: white;
        border-radius: 1rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        margin: 2rem 0 2rem;
        cursor: pointer;
        @include media('>tablet'){
            display: none;
        }
        &-ans{
            color:#888888;
            line-height: 1.8;
        }
        &-ques{
            display: flex;
            h1{
                // font-size: 2rem !important;
                font-family: 'BwModelica Bold';
                font-size: 30px !important;
                margin-bottom: 1.3rem !important;
                // @include media('<phone'){
                //     font-size: 1.6rem !important;
                // }
            }
            span{
                color: #abc720;
                font-size: 35px;
                font-weight: 700;
                margin-top: -1rem;
            }
        }
        &-ans{
            p{
                font-size: 1.2rem !important;
            }
        }
    }
}



