.features{

    padding: 5rem;
    @include media('<tablet'){
        padding: 1rem;
    }
    background-color: #f3f3f3;
    h1{
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 35px !important;
    }
    &-interview{
        display: flex;
        
        justify-content: space-evenly;
        &-image{
            display: inherit;
            justify-content: center;
            flex: 1;
            width: 70%;
            img{
                width: 60%;
            }
        }
        &-card{
            flex: 1;
            padding: 2rem;
            display: flex;
            align-items: center;
            p{
                color: #b1aaaa;
            }
            // margin: 0 3rem;
        }
    }
}


.card-box{
    box-shadow: 0 50px 50px 0 rgba(0, 111, 173, 0.1);
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    h1{
        font-weight: 700;
        font-size: 30px !important;
    }
}

.features-res{
    margin-bottom: 3rem;
    &-image{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        img{
            @include media('<desktop'){
                width: 50%;    
            }
            @include media('<tablet'){
                width: auto;
            }
            @include media('<phone'){
                width: auto;
            }
        }
    }

    &-para{
        
        p{
            color: #b1aaaa;
        }
    }
}

@include media('<desktop'){
    .features-interview{
        display: none;
    }
}

@include media('>desktop'){
    .features-res{
        display: none;
    }
}