.features{

    padding: 5rem;
    background-color: #f3f3f3;
    h1{
        margin-bottom: 2rem;
    }
    &-interview{
        display: flex;
        
        justify-content: space-evenly;
        &-image{
            width: 70%;
            img{
                width: 100%;
            }
        }
        &-card{
            padding: 2rem;
            display: flex;
            align-items: center;
        }
    }
}


.card-box{
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}