.features{

    padding: 5rem;
    @include media('<tablet'){
        padding: 1rem;
    }
    background-color: #f3f3f3;
    h1{
        margin-bottom: 2rem;
        font-weight: 700;
    }
    &-interview{
        display: flex;
        
        justify-content: space-evenly;
        &-image{
            width: 70%;
            // img{
            //     width: 100%;
            // }
        }
        &-card{
            padding: 2rem;
            display: flex;
            align-items: center;
        }
    }
}


.card-box{
    box-shadow: 0 50px 50px 0 rgba(0, 111, 173, 0.1);
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    h1{
        font-weight: 500;
    }
}

.features-res{
    &-image{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        img{
            @include media('<desktop'){
                width: 50%;    
            }
            @include media('<tablet'){
                width: auto;
            }
            @include media('<phone'){
                width: auto;
            }
        }
    }

    &-para{
        margin-bottom: 2rem;
    }
}

@include media('<desktop'){
    .features-interview{
        display: none;
    }
}

@include media('>desktop'){
    .features-res{
        display: none;
    }
}