.navbar{
    margin-left: 4rem;
    display: flex;
    align-items: flex-start;

    @include media('<phone'){
        margin-left: 0rem;
    }
    &-brand{
        flex: 1;
        img{
            width: 80%;
            
        }
    }

    &-toggler{
        @include media('<tablet'){
            display: flex;
            align-self: center;
            border: none;
            font-size: 2rem;

            &:focus{
                outline: none !important;
            }
        }
    }

    &-collapse{
        @include media('>tablet'){
            margin-right: -1rem;
        }
    }
    .nav{
        display: flex;
        justify-content: center;
    }
    .nav-link{
        padding-left: 2rem !important;
        padding-top: 1rem !important;
        color:white !important;
        @include media('<tablet'){
            color:black !important;
        }
    }
}

.container1{
    display: flex;
}

.image{
    display: flex;
    padding-left: 5rem;
    padding-top: 2rem;
    height: fit-content;
    justify-content: center;
    align-items: baseline;
    img{
        width: 60%;
    }
}
.nav{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    &-link{
        height: fit-content;
        margin-top: 1rem;
        @include media('<tablet'){
            color: black !important;
        }
    }
    @include media('>tablet'){
        z-index: 1;
    }
}

.employer-header{
    width: 30rem;
    height: 18rem;
    margin-left: auto;
    margin-top: -1rem;
    // background: #abc720;
    border-bottom-left-radius: 3rem;
    @include media('<tablet'){
        background-color: transparent !important;
        height: 10rem;
        width: auto;
    }
}

