.recruit{

    &-title{
        font-family: 'BwModelica ExtraBold';
        font-size: 35px !important;
    }
    margin: 5rem 5rem 5rem 5rem;
    @include media('<widescreen'){
        margin: 5rem 0rem;

        &-title{
            padding-left:5rem ;
            @include media('<phone'){
                padding-left: 2rem;
            }
        }
    }
    &-card{
        &-1{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-top: -5rem;
            &-image{
                img{
                    margin-left: -13rem;
                    margin-bottom: 2rem;
                }
            }
            &-box{
                z-index: -1;
                padding: 2rem 15rem 2rem 2rem;
                h1{
                    font-size: 30px !important;
                    font-family: 'BwModelica Bold';
                    margin-bottom: 2rem;
                }
                h6{
                    color: #b1aaaa;
                    line-height: 1.6;
                    font-size: .9rem;
                }
                // width: 50rem;
                // height: 10rem;
                border-radius: 1rem;
                box-shadow: 0 10px 0 0 #abc720;
                background-color: #f3f3f3;
            }
        }


        &-2{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: -3rem;
            &-image{
                img{
                    margin-left: -13rem;
                    margin-bottom: 2rem;
                }
            }
            &-box{
                h1{
                    font-size: 30px !important;
                    font-family: 'BwModelica Bold';
                    margin-bottom: 2rem;
                }
                h6{
                    color: #b1aaaa;
                    line-height: 2;
                    font-size: .9rem;
                }
                z-index: -1;
                padding: 2rem 15rem 2rem 2rem;
                width: 60rem;
                border-radius: 1rem;
                box-shadow: 0 10px 0 0 #006fad;
                background-color: #f3f3f3;
            }
        }
    }

    &-res-1{
        margin: 3rem 0rem;
        &-image{
            display: flex;
            justify-content: flex-start;
            padding: 2rem;
        }

        &-image1{
            display: flex;
            justify-content: flex-end;
            padding: 2rem;
        }
        &-box{
            margin-top: -5rem;
            background-color: #f3f3f3;
            padding: 4rem 2rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            h1{
                margin-bottom: 2rem;
                font-size: 25px !important;
                font-family: 'BwModelica ExtraBold';
            }
            h6{
                color: #888888;
                font-family: 'BwModelica Light';
                font-size: 17px !important;
                margin-bottom: 1rem !important;
                line-height: 1.8;
                font-weight: 600;
            }
        }
    }
}

@include media('<widescreen'){
    .recruit-card-1,.recruit-card-2 {
        display: none;
    }
}

@include media('>widescreen'){
    .recruit-res-1,.recruit-res-2{
        display: none;
    }
}