.recruit{

    &-title{
        
            font-weight: 700;
        
    }
    margin: 0 5rem 5rem 5rem;
    @include media('<widescreen'){
        margin: 0rem;

        &-title{
            padding-left:5rem ;
            @include media('<phone'){
                padding-left: 2rem;
            }
        }
    }
    &-card{
        &-1{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-top: -5rem;
            &-image{
                img{
                    margin-left: -13rem;
                    margin-bottom: 2rem;
                }
            }
            &-box{
                z-index: -1;
                padding: 1rem 15rem 1rem 1rem;
                // width: 50rem;
                // height: 10rem;
                border-radius: 1rem;
                box-shadow: 0 10px 0 0 #abc720;
                background-color: #f3f3f3;
            }
        }


        &-2{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: -5rem;
            &-image{
                img{
                    margin-left: -13rem;
                    margin-bottom: 2rem;
                }
            }
            &-box{
                z-index: -1;
                padding: 1rem 15rem 1rem 1rem;
                // width: 50rem;
                // height: 10rem;
                border-radius: 1rem;
                box-shadow: 0 10px 0 0 #006fad;
                background-color: #f3f3f3;
            }
        }
    }

    &-res-1{

        &-image{
            display: flex;
            justify-content: flex-start;
            padding: 2rem;
        }

        &-image1{
            display: flex;
            justify-content: flex-end;
            padding: 2rem;
        }
        &-box{
            margin-top: -5rem;
            background-color: #f3f3f3;
            padding: 4rem 2rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            h1{
                margin-bottom: 2rem;
            }
            h6{
                color: #888888;
            }
        }
    }
}

@include media('<widescreen'){
    .recruit-card-1,.recruit-card-2 {
        display: none;
    }
}

@include media('>widescreen'){
    .recruit-res-1,.recruit-res-2{
        display: none;
    }
}